.mainBox{
   width: 100vw;
   height: 100vh;
   display: flex;
   background-color:aqua ;
   justify-content: center;
}

body{
   display: flex;
   justify-content: center;
}
.title{
   text-align: center;
}

.header{
   background-color: blue;
   width: 68%;
   display: flex;
   flex-direction: column;
   align-items: center;
   
}
.description{
   width: 64%;
   font-size: 1rem;
}

@media only screen and (max-width:320px) {
      .description h3{
         width: 65%;
      }
}

@media only screen and (max-width: 768px) {
   .description h3 {
     font-size: 20px;
     width: 65%;
   }
 }