.mainBox{
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
}

body{
   display: flex;
   justify-content: center;
}
.title{
   text-align: center;
}

.header{
   width: 68%;
   display: flex;
   flex-direction: column;
   align-items: center;
   
}
.description{
   width: 64%;
   font-size: small;
}



@media only screen and (max-width: 420px) and (min-width:320px) {
   .description h3 {
     font-size: 10px;
     width: 75%;
   
   }

   .mainBox{
      width: 100%;
   }
   .header{
      width: 100%;
   }
 }